APP_NAME=Ticketly API
APP_VERSION=0.1.0
APP_ENV=local

DATABASE_URL=postgresql+psycopg://ticketly_user:ticketly_user@db:5432/ticketly_db
TEST_DATABASE_URL=postgresql+psycopg://ticketly_user:ticketly_user@test-db:5432/ticketly_test_db
